# Python virtual environment
venv/
env/

# Python bytecode
__pycache__/
*.py[cod]

# Secrets
.env
secrets.toml

# Local DB (optional)
*.sqlite3

# VS Code files
.vscode/

# Temp
tempCodeRunnerFile.py
